.outer_box{
    height: 576px;
    width: 576px;
    border: solid 1px black;
    margin: auto;
}
.row{
    height: 70px;
    width: 576px;
    border: solid 1px black; 
}
.black_box{
    height: 70px;
    width: 70px;
    border: solid 1px black;
    background-color: black;
    float: left; 
    text-align: center;
    color: white;
    font-size: 45px;
}
.white_box{
    height: 70px;
    width: 70px;
    border: solid 1px black;
    background-color:white;
    float: left;
    text-align: center;
    color: black;
    font-size: 45px;
}